/* ---Sidebar css */

.sidebar {
  width: 220px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
  position: fixed;
  top: 0;
  right: -100%;
  transition: 0.5s;
  z-index: 50 !important;
  margin-top: 80px;
  margin-right: 20px;
}

.sidebar.active {
  right: 0;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

.sd-body {
  padding: 10px;
  overflow-x: hidden;
}

.sd-body ul {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.sd-body ul li {
  list-style: none;
  margin-bottom: 10px;
  width: 100%;
}

.clip-path {
  -webkit-clip-path: polygon(0 0, calc(100% - 4.7rem) 0, 100% 4.5rem, 100% 100%, 0 100%);
  clip-path: polygon(0 0, calc(100% - 4.7rem) 0, 100% 4.5rem, 100% 100%, 0 100%);
}

.triangle {
  width: 3.5rem;
  height: 3.5rem;
  transform: rotate3d(-1, -1, 0, 0);
  transition: all 0.01 ease;
  transform-style: preserve-3d;
  display: inline-block;
  position: relative;
}

.triangle::before,
.triangle::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -20px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  transition: transform 0.2s cubic-bezier(0.3, 0, 0.2, 1);
  backface-visibility: hidden;
  z-index: 10;
}

.triangle::before {
  background: url("../src/assets/plus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

.triangle::after {
  background: url("../src/assets/minus.svg");
  transform: rotate3d(-1, -1, 0, 90deg);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.open .triangle::before {
  transform: rotateY(180deg);
}

.open .triangle::after {
  transform: rotateY(0deg);
}


.animate-border {
  color: white;
  text-shadow: 0 1px 0 #000;

  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle),
      #010101,
      #010101 5%,
      #010101 60%,
      #010101 95%);

  border: solid 1px #FFFFFF29;
  border-radius: 1em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 65%, #2AF4FF, #070707 99%, transparent);
  background:
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;

  background-position: center center;
  animation: bg-spin 4s linear infinite;
}

.animate-border1 {
  color: white;
  text-shadow: 0 1px 0 #000;

  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle),
      #010101,
      #010101 5%,
      #010101 60%,
      #010101 95%);

  border: solid 1px #FFFFFF29;
  border-radius: 1em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 65%, #2AF4FF, #070707 99%, transparent);
  background:
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 4s linear infinite;
  animation-delay: 3s;
}

.animate-border1 {
  color: white;
  text-shadow: 0 1px 0 #000;

  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle),
      #010101,
      #010101 5%,
      #010101 60%,
      #010101 95%);

  border: solid 1px #FFFFFF29;
  border-radius: 1em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 65%, #2AF4FF, #070707 99%, transparent);
  background:
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 4s linear infinite;
  animation-delay: 3s;
}

.animate-border2 {
  color: white;
  text-shadow: 0 1px 0 #000;

  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle),
      #010101,
      #010101 5%,
      #010101 60%,
      #010101 95%);

  border: solid 1px #FFFFFF29;
  border-radius: 1em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 65%, #2AF4FF, #070707 99%, transparent);
  background:
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 4s linear infinite;
  animation-delay: 6s;
}

.animate-border3 {
  color: white;
  text-shadow: 0 1px 0 #000;

  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle),
      #010101,
      #010101 5%,
      #010101 60%,
      #010101 95%);

  border: solid 1px #FFFFFF29;
  border-radius: 1em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 65%, #2AF4FF, #070707 99%, transparent);
  background:
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 4s linear infinite;
  animation-delay: 8s;
}

@keyframes bg-spin {
  to {
    --border-angle: -1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}